# fastapi
# uvicorn
# python-dotenv

# langchain
# langgraph

# langchain-community
# langchain-core
# langchain-ollama
# langchain-huggingface

# chromadb

# sentence-transformers
# huggingface-hub

# pypdf

# beautifulsoup4
# requests

# torch
# transformers


langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52

