fastapi
uvicorn
python-dotenv

langchain
langgraph

langchain-community
langchain-core
langchain-ollama
langchain-huggingface

chromadb

sentence-transformers
huggingface-hub

pypdf

beautifulsoup4
requests

torch
transformers